@CHARSET "ISO-8859-1";

html {
    background-color:#000000;
}

body {
	font:17px Calibri;
	color:#FFFFFF;
    margin:0px 0px 0px 0px;
    background:#000000 url("../images/bg.png") no-repeat center center fixed;
}

/* Top bar */
#topbar {
	position:absolute;
    height:51px;
    width:100%;
    background:#000000 url("../images/topbar.png") repeat-x center;
}

.topbarLeft {
	float:left;
    height:51px;
}

.topbarRight {
    float:right;
    height:51px;
}