@CHARSET "ISO-8859-1";

body {
	font:17px Calibri;
	color:#FFFFFF;
    margin:0px 0px 0px 0px;
    background:#000000 url("../images/bg.png") no-repeat center center fixed;
    /*overflow-x:hidden;*/
}

/* Top bar */
#topbar {
	position:fixed;
    height:51px;
    width:100%;
    min-width:950px;
    background:#000000 url("../images/topbar.png") repeat-x center;
    z-index:100;
}

.topbarLeft {
	float:left;
    height:51px;
}

.topbarRight {
    float:right;
    height:51px;
}

#topbarButton {
	height:25px;
	min-width:90px;
    margin-top:10px;
    margin-left:10px;
    text-align:center;
    border:2px #555555 solid;
    border-radius:0.7em;
    box-shadow:2px 0 4px #111111;
}

.newFriendRequests {
	float:left;
	margin-right:10px;
}

#friendRequests:link {
	color:#FFFFFF;
}

#friendRequests:visited {
	color:#FFFFFF;
}

#topbarButton:hover {
    cursor:pointer;
    background-color:#333333;
}

/* Chat windows related */

.chatWindows {
	position:fixed;
    width:99%;
    height:40px;
    bottom:0px;
    z-index:100;
}

.chatTab {
    float:left;
    border:1px #FFFFFF solid;
    padding:5px 5px 5px 5px;
    background-color:#222222;
    margin-right:5px;
}

.chatTab:hover {
    cursor:pointer;
}