@CHARSET "ISO-8859-1";

.socialMenu {
    float:left;
    width:15%;
    height:100%;
    background-color:rgba(200, 200, 200, 0.6);
}

.socialMenuTop {
    min-height:26px;
    font:26px Calibri;
    padding:11px 12px 20px 12px;
}

.socialMenuOption {
    font:20px Calibri;
    height:30px;
    text-align:right;
    padding:7px 20px 7px 7px;
    cursor:pointer;
}

/*
.socialMenuOption:hover {
    background-color:rgba(22, 22, 210, 0.8);
    padding-top:6px;
    padding-bottom:6px;
    border-top:1px #0000FF solid;
    border-bottom:1px #0000FF solid;
    cursor:pointer;
}
*/

.socialTab {
    font:22px Calibri;
    margin-left:15%;
    text-align:left;
    width:70%;
    height:100%;
    padding:50px 50px 50px 75px;
    border-left:10px rgb(255, 122, 0) solid;
}

.socialTabItem {
	min-height:60px;
    margin-top:10px;
    border-bottom:1px rgb(200, 200, 200) solid;
    margin-bottom:10px;
}

.socialFriendItem {
    float:left;
    width:50px;
    height:50px;
    border-radius:0.6em;
    background-size:100%;
}

.socialFriendItemName {
    float:left;
    margin-top:13px;
    margin-left:5px;
}

.socialPlainLink {
    color:#FFFFFF;
    text-decoration:none;
}

.socialSubmit {
    float:left;
    width:70px;
    text-align:center;
    margin-top:10px;
    padding-left:5px;
    padding-right:5px;
    border:2px rgb(22, 22, 210) solid;
    border-radius:0.7em;
    cursor:pointer;
}

.socialSubmitResult {
    float:left;
    margin-top:12px;
    margin-left:10px;
}

.socialSubmit:hover {
    background-color:#444444;
}

.socialSubTabItem {
    margin-left:30px;
    margin-bottom:5px;
    font:18px Calibri;
}

.socialRadio {
    font: 12px Calibri;
}